body {
  margin-top: 105px; }

.navbar {
  box-shadow: 2px 2px 5px #b3293e;
  opacity: 0.9;
  background: #ffffff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  background: url("../img/mountains.jpg");
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(170, 41, 62, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#authors img {
  margin-top: -50px; }
#authors .card:hover {
  background: #b3293e;
  color: white; }
#authors .fas {
  color: white; }
